*{
    margin: 0;
    padding: 0;
}
#animais{
    margin: 1rem;
    width: 300px;
    height: 20rem;
    box-shadow: 10px 10px 5px rgb(150, 150, 150);
    background-color: rgb(252, 251, 250);
    
}
img{ width: 200px;
     height: 150px;}
#nome{
    color: rgb(0, 0, 0);
    text-align: center;
}
#preco{
    color: rgb(0, 0, 0);
    text-align: center;
}
#identid{
    color: rgb(14, 14, 14);
    text-align: center;
}
#detalhe{
    width: 500px;
    text-align: center;
    background-color: yellow;
    border-radius: 20px;
}
#detalhe img{
    width: 400px;
}
#produto-detalhe{
    
}